:root {
  box-sizing: border-box;
}
.body {
  margin: 0 auto;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* margin-right:5 */
.mr-5 {
  margin-right: 5px;
}

/* For flexbox */

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
